<div class= "row">
  <div class="col-md-3">
    <h4>Abilities</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Strength: <%= @character.strength%>
  </div>
  <div class="col-md-2">
    Dexterity: <%= @character.dexterity %>
  </div>
  <div class="col-md-2">
    Constitution: <%= @character.constitution %>
  </div>
  <div class="col-md-2">
    Intelligence: <%= @character.intelligence %>
  </div>
  <div class="col-md-2">
    Wisdom: <%= @character.wisdom %>
  </div>
  <div class="col-md-2">
    Strength: <%= @character.charisma %>
  </div>
</div>
