<div class= "row">
  <div class="col-md-3">
    <h4>Abilities</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Strength: <%= best_in_place_if character_editable?(@character), @character, :strength%>
  </div>
  <div class="col-md-2">
    Dexterity: <%= best_in_place_if character_editable?(@character), @character, :dexterity %>
  </div>
  <div class="col-md-2">
    Constitution: <%= best_in_place_if character_editable?(@character), @character, :constitution %>
  </div>
  <div class="col-md-2">
    Intelligence: <%= best_in_place_if character_editable?(@character), @character, :intelligence %>
  </div>
  <div class="col-md-2">
    Wisdom: <%= best_in_place_if character_editable?(@character), @character, :wisdom %>
  </div>
  <div class="col-md-2">
    Strength: <%= best_in_place_if character_editable?(@character), @character, :charisma %>
  </div>
</div>
