<div class= "row">
  <div class="col-md-3">
    <h4>Character Attributes</h4>
  </div>
</div>
<div class="container-fluid well">
  <div class="row">
    <div class="col-md-2">
      race
    </div>
    <div class="col-md-2">
      Name
    </div>
    <div class="col-md-2">
      Age
    </div>
    <div class="col-md-2">
      Gender
    </div>
<%
=begin %>
    <div class="col-md-2">
      Level
    </div>
<%
=end %>
    <div class="col-md-2">
      Public?
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= best_in_place_if character_editable?(@character), @character, :race %>
    </div>
    <div class="col-md-2">
      <%= best_in_place_if character_editable?(@character), @character, :name %>
    </div>
    <div class="col-md-2">
      <%= best_in_place_if character_editable?(@character), @character, :age %>
    </div>
    <div class="col-md-2">
      <%= best_in_place_if character_editable?(@character), @character, :gender, type: :select, :collection => [["Male", "Male"], ["Female", "Female"], ["", "Unspecified"]]%>
    </div>
<%
=begin %>
    <div class="col-md-2">
      <%= best_in_place_if character_editable?(@character), @character, :level %>
    </div>
    <div class="col-md-2">
      <%= best_in_place student.house, :id, type: :select, collection: AllCharacterRaces.assemble_race_names.map { |cr| cr.name]} %></td>
    </div>
<%
=end %>
    <div class="col-md-2">
      <%= best_in_place_if character_editable?(@character), @character, :public_flag, type: :select, :collection => [[false, "No"], [true, "Yes"]] %>
    </div>
  </div>
</div>
